* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-image: url('./assets/home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.ancients-wrap {
  width: 40%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-wrap:wrap;
  margin: 20px;
}

.ancient {
  width: 200px;
  height: 260px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.1s ease;
}

.ancient:hover {
  scale: 1.05;
}

.ancient-active {
  /* border: 3px solid red; */
  box-shadow: 0 0 4px 3px rgb(49, 7, 76), 0 0 10px 5px rgb(176, 91, 219); 
}

.azathoth {
  background-image: url('./assets/Ancients/Azathoth.jpg');
}

.cthulthu {
  background-image: url('./assets/Ancients/Cthulthu.jpg');
}

.logsothoth {
  background-image: url('./assets/Ancients/IogSothoth.jpg');
}

.shubniggurath {
  background-image: url('./assets/Ancients/ShubNiggurath.jpg');
}

.difficulties-wrap {
  width: 20%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

.difficulty,
.mix {
  width: 160px;
  padding: 10px 5px;
  border: 2px solid rgba(233, 233, 50, 0.8);
  border-radius: 8px;
  cursor: pointer;
  transition: all .1s ease;
}

.difficulty:hover {
  scale: 1.05;
}

.difficulty-active,
.mix:hover {
  background-color: rgba(98, 36, 136, 0.5);
}

.table {
  position: relative;
  width: 40%;
}

.mix-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.mix {
  width: 240px;
}

.mix-active {
  display: block;
}

.stages-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
  font-size: 20px;
  visibility: hidden;
}

.stages {
  width: 180px;
  padding: 10px 5px;
  border-radius: 10px;
}

.stage {
  margin-top: 20px;
}

.stage:first-child {
  margin-top: 0;
}

.tracker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.track {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.green-track {
  background-color: green;
}

.brown-track {
  background-color: rgb(166, 124, 26);
}

.blue-track {
  background-color: rgb(60, 53, 186);
}

.card-space {
  display: flex;
  gap: 15px;
}

.card-deck,
.current-card {
  width: 143px;
  height: 209px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px rgb(15, 15, 15);
  border-radius: 10px;
  transition: box-shadow .1s ease;
}

.card-deck {
  cursor: pointer;
}

.card-deck:active {
  box-shadow: none;
}